.user-card {
  display: flex;
  gap: 1rem;
  height: 200px;
  width: 400px;
  background-color: yellow;
  border: none;
  border-radius: $border-radius;
  margin: 1rem;
  background-color: $primary-color;
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
    .user-card__left-container,
    .user-card__right-container,
    .upper-div,
    .lower-div,
    .upper-div__delete-button {
      background-color: $hover-color;
    }
  }

  &__left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 150px;
    background-color: $primary-color;
    margin: 0;
    border: none;
    border-right: $border;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__image {
    height: auto;
    width: 150px;
    border-radius: $border-radius;
  }

  &__right-container {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    height: 200px;
    width: 250px;
    border: none;
    border-radius: $border-radius;
  }
}
//Inhalt von "right-container"
.upper-div {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  height: 50px;
  width: 250px;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: $border-radius;

  &__username {
    font-size: 1rem;
    font-weight: 500;
  }
  &__delete-button {
    font-size: 1rem;
    color: red;
    background-color: $primary-color;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
  }
}

.lower-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  background-color: $primary-color;
  height: 150px;
  max-width: 300px;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: $border-radius;

  &__user-attributes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: $primary-font-color;
  }
}
