.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 1rem;
  padding: 0;
  height: 100vh;
  width: 400px;
  &__label {
    @include label-layout;
  }
  &__input {
    @include input-layout($primary-color);
  }
  &__submit-button {
    @include button;
  }
  &__submit-button:hover {
    background-color: #87ceeb;
    cursor: pointer;
  }
  &__alert {
    color: $primary-font-color;
    font-size: 0.8rem;
    margin: 0;
  }
}
