$primary-color: lightgray !global;
$border: 1px solid #555 !global;
$hover-color: #c0c0c0 !global;
$border-radius: 10px !global;
$primary-font-color: black !global;
$button-background: lightblue !global;
