@use "@/variables" as *;

@mixin label-layout {
  height: 40px;
  width: 300px;
  font-size: 1rem;
  font-weight: 500;
  color: $primary-font-color;
  text-align: left;
  margin-bottom: 1rem;
}
@mixin input-layout($selectedColor) {
  border: none;
  border-radius: $border-radius;
  background-color: $selectedColor;
  height: 40px;
  width: 300px;
  padding-left: 0.5rem;
}
@mixin button {
  height: 40px;
  width: 300px;
  color: $primary-font-color;
  font-size: 1rem;
  font-weight: 600;
  background-color: $button-background;
  padding: 0.5rem;
  border: none;
  border-radius: $border-radius;
  margin-bottom: 0.5rem;
  text-align: center;
}
@mixin button-hover($c1, $c2, $c3, $c4) {
  background: linear-gradient(45deg, $c1, $c2, $c3, $c4);
  cursor: pointer;
}
